.menu-drawer-container {
  display: flex;
}

.icon {
  height: 20px;
  width: 20px;
  padding: 0;
  cursor: pointer;
}
.hidden-icon {
  display: none;
  opacity: 0;
  transform: scale(0.8);
}
.btn-close {
  display: block;
  position: absolute;
  right: 0;
  background-color: white;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-drawer > .menu-opening {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.menu-drawer {
  position: absolute;
  transform: translate(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  background-color: rgb(250, 250, 250);
  overflow-x: hidden;
  overflow-y: auto;
  filter: drop-shadow(0px 5px 5px rgba(18, 18, 18 0));
  height: calc(100vh - 15px);
}

.menu-opening > .menu-drawer,
.menu-opening > .menu-drawer__submenu {
  transition: transform 0.2s ease, visibility 0.2s ease;
}

.menu-opening > .menu-drawer,
.menu-opening.menu-opening > .menu-drawer,
.menu-opening > .menu-drawer__submenu {
  transform: translate(0);
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .menu-drawer {
    width: 100%;
    max-width: 535px;
    background-color: transparent;
    border-width: 0 1 0 0;
    border-style: solid;
    border-color: white;
    border: 0;
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu-drawer__inner-container::-webkit-scrollbar {
  width: 4px;
}

.menu-drawer__inner-container::-webkit-scrollbar-track {
  background: #eee;
}

.menu-drawer__inner-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 3px solid #888;
}

@media screen and (min-width: 768px) {
  .menu-drawer__inner-container {
    max-width: 490px;
    background-color: white;
  }
}
.menu-drawer__menu-item--active {
  background-color: transparent !important;
}

.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  color: rgb(18, 18, 18) !important;
  background-color: rgba(18, 18, 18, 0.04) !important;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  height: 100%;
}

.menu-drawer__navigation {
  padding-top: 0;
}

.link,
.customer a {
  cursor: pointer;
  display: inline-block;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: rgb(18, 18, 18);
  background-color: transparent;
  font-size: 12px;
  font-family: inherit;
}
.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-menu__item {
  display: flex;
  align-items: center;
  line-height: calc(1 + 0.3 / normal);
  justify-content: center;
  text-align: center;
  height: 100%;
}

.content-menus {
  height: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-drawer__inner-container::-webkit-scrollbar {
  width: 4px;
}

.menu-drawer__inner-container::-webkit-scrollbar-track {
  background: #eee;
}

.menu-drawer__inner-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 3px solid #888;
}

@media screen and (min-width: 768px) {
  .menu-drawer__inner-container {
    max-width: 490px;
    background-color: white;
  }
}

.list-menu-gender .item-menu-gender:nth-child(4) {
  display: none;
}

.header__heading {
  display: flex;
}
.menu-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 40px;
  padding-right: 10px;
  height: 30px;
  margin-bottom: 15px;
  padding-top: 15px;
  .logo,
  .btn-close {
    cursor: pointer;
    padding: 5px;
  }
}
#menu-drawer > .btn-close:first-child {
  display: none;
}

.content-menu-gender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
}

.list-menu-gender {
  display: flex;
  flex-direction: column;
}
.content-menus {
  height: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-menu-menu {
  height: 100%;
}
.option-menu {
  display: flex;
  align-items: center;
}
.option-menu .logo {
  display: none;
}
.bottom-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  bottom: 5px;
  width: 100%;
  position: static;
  justify-content: space-around;
  background-color: #f6f6f6;
  border-top: #b0b0b0 1px solid;
}
.bottom-menu li {
  border-bottom: 1px #b0b0b0 solid;
}
.bottom-menu li:nth-child(n + 3) {
  grid-column: 1 / -1;
}
.list-menu-gender .item-menu-gender {
  cursor: pointer;
  text-transform: capitalize;
  width: 50%;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding: 0;
  padding: 15px 0px;
  border: 0;
  border-bottom: 1px #e7e7e7 solid;
  text-decoration: none;
  color: #3d3d3d;
  background-color: transparent;
}

.item-menu-gender--active {
  border-bottom: 1px #4f4f4f solid !important;
  background-color: #f6f6f6 !important;
}
#itemMenuActive {
  text-transform: capitalize;
}

/* menu */
/* .menu {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  position: relative;
} */

.item-menu-gender:hover {
  background-color: #f6f6f6;
}

.menu-content {
  display: none;
  padding: 20px;
  position: static;
  top: 130px;
  width: 100%;
  z-index: 10;
  margin: 0;
}
.menu-content li {
  list-style: none;
  font-size: 14px;
  color: #3d3d3d;
}
.menu-content .container-featured-collection {
  width: 100%;
  text-decoration: none;
}
.menu-content .container-featured-collection .img-featured-collection {
  width: 100%;
  height: 100%;
  max-height: 184px;
  object-fit: cover;
}
.menu-content .container-featured-collection .title-featured-collection {
  margin: 0;
  font-size: 14px;
  color: #3d3d3d;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  color: #3d3d3d;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  opacity: 0.8;
  font-size: 14px;
  background-color: transparent;
  align-items: center;
  transition: all 0.3s;
  .title-item {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
  }
}
.view-all {
  text-transform: math-auto !important;
}
.menu-drawer__menu-item {
  padding: 14px 30px;
  text-decoration: none;
  font-size: 12;
  height: auto;
}
.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
}
.menu-item:hover {
  opacity: 1;
  border-bottom: 1px solid #3d3d3d;
}
.menu-item--active {
  transform: translateX(-130%);
}
.sub-menu {
  position: absolute;
  width: 100%;
  padding: 0px 20px;
  background-color: white;
  left: 200%;
  transition: all 0.3s;
  top: 130px;
  height: 300px;
  overflow-y: hidden;
  .btn-back {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    .text {
      margin: 0;
      font-size: 14px;
    }
  }

  .summary-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .summary-menu svg {
    transition: transform 0.3s ease;
  }
  .details-menu[open] .summary-menu svg {
    transform: rotate(180deg);
  }
  .summary-menu svg {
    margin-top: 15px;
  }
  .all-sub-item {
    margin-top: 10px;
  }
  .all-sub-item .view-all span:nth-child(1) {
    font-weight: 600;
  }
  .all-sub-item a {
    display: flex;
    justify-content: space-between;
  }
  .sub-sub-item {
    padding-left: 20px;
    font-weight: 400;
  }
}
.sub-menu .sub-item a {
  color: #3d3d3d;
  padding-left: 15px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  display: flex;
  width: 100%;
}
.sub-menu .sub-sub-item a {
  display: flex;
  width: 100%;
  color: #3d3d3d;
  padding-left: 15px;
  font-size: 14px;
  text-decoration: none;
}
.sub-menu.active {
  left: 0;
  z-index: 9999;
  height: auto;
  padding-bottom: 20px;
  overflow-y: visible;
}

.view-all {
  text-transform: math-auto !important;
}
@media (min-width: 768px) {
  #menu-drawer > .btn-close:first-child {
    display: block;
    position: absolute;
    right: 0;
    background-color: white;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .option-menu .logo {
    display: block !important;
    padding-inline: 15px;
    padding-block: 5px;
  }
  .list-menu-gender .item-menu-gender {
    font-size: 14px;
    padding: 20px 0px;
  }
  .content-menus {
    height: 100% !important;
  }
  .sub-menu {
    top: 100px;
  }
  .menu-drawer-header {
    display: none;
  }
  .menu-content {
    top: 90px;
    width: auto;
  }
  .menu-content .container-featured-collection .img-featured-collection {
    width: 100%;
    height: 100%;
    max-height: 273px;
    object-fit: cover;
  }
  .bottom-menu li:nth-child(3) {
    display: none;
  }
  .menu-content .container-featured-collection .title-featured-collection {
    padding-bottom: 10px;
  }
}

@media (max-height: 776px) {
  .bottom-menu {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 768px) {
  .menu-drawer {
    width: 100%;
    max-width: 535px;
    background-color: transparent;
    border-style: solid;
    border: 0;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
